# -*- coding: utf-8 -*-
# vim: set ai si sta et sw=4 sts=4 fenc=utf-8 nobomb eol ff=unix ft=conf:

**/*
!.editorconfig
!.gitattributes
!.travis.yml
!CODEOWNERS
!CONTRIBUTING.md
!LICENSE.md
!Makefile
!README.md
!/src
!/src/*.Dockerfile
!SUPPORT.md
